/* Fichier CSS pour l'application SecNews */

/* intégration nouvelle police */
@font-face {
    font-family: 'NotoMono';
    font-display: swap;
    src: url('../fonts/NotoMono-Regular.ttf');
}

/* Police de secours en attendant que la première se charge */
@font-face {
    font-family: "DejaVu Sans";
    font-display: fallback;
}
/* * = modifications sur la page entière */
*
{
    font-family: 'NotoMono', Arial, serif;
    margin: 0;
    padding: 0;
    transition: all 500ms;
}

/* en tête comprenant le titre + logo -----------------------------------------------------------------------------------------------------------------------------------*/
header
{
    background-color: transparent;
    display: inline-block;
    position: absolute;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 40%;
    text-align: center;
    text-shadow: -5px -1px 5px #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    -webkit-transition: all 1000ms cubic-bezier(0.755, 0.05, 0.285, 1.515);
    -moz-transition: all 1000ms cubic-bezier(0.755, 0.05, 0.285, 1.515);
    -o-transition: all 1000ms cubic-bezier(0.755, 0.05, 0.285, 1.515);
    transition: all 1000ms cubic-bezier(0.755, 0.05, 0.285, 1.515);
}
/* modifications concernant le contenu de la balise body ----------------------------------------------------------------------------------------------------------------*/
body
{
    background-color: #DECFCF;
    overflow-x: hidden;
    overflow-y: visible;
    background-image: url("../img/login-bg.jpg");
    background-size: cover;
}


/* réglages taille et couleur du titre principal ------------------------------------------------------------------------------------------------------------------------*/
h1
{
    font-size: 60px;
    color : #8E3538;
    outline: #330C0E;
    display: inline-block;

}

/* réglages taille de l'image logo --------------------------------------------------------------------------------------------------------------------------------------*/
#logo
{
    width: 80px;
    height: 80px;
   /* position: relative;*/
    display: inline-block;
    vertical-align: bottom;
    margin-left: 7px;

}

/* réglages de l'affichage des articles --------------------------------------------------------------------------------------------------------------------------------------*/
#main-content
{
    margin-bottom: 40px;
}

/*réglages en tête de page ---------------------------------------------------------------------------------------------------------------------------------------------*/
h3
{
    margin-top: 0;
    color: white;
    padding-top: 20px;
    padding-bottom: 70px;
    margin-left: 10px;
    display: inline-block;
}

/* image de fond */
#menu_navigation
{
    background-image: url("../img/fond.png");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 -10px 10px inset;
    display: block;



}

#menu_navigation h3
{
    position: relative;
    margin-top: .1em;
    margin-left: 6%;
}


input::placeholder
{
    color: #D5898C;
}

input:focus::placeholder
{
    color: #DECFCF;
}

/* pied de page (copyright) ------------------------------------------------------------------------------------------------------------------------------------------*/
footer
{
    background-color: #8E3538;
    color: white;
    display: inline-block;
    padding: 7px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 10px;
    box-shadow: -5px -4px 6px #330C0E;
}

/*menu burger ---------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*menuToggle = id correspondant a l'icone cliquable pour dérouler le menu burger*/
#menuToggle
{
    display: block;
    position: relative;
    top: 50px;
    left: 30px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

/*modifications sur la checkbox de l'icone cliquable qu'on rend invisible*/
#menuToggle input
{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -5px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*creation de l'icone avec 3 spans*/
#menuToggle span
{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: white;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child
{
    transform-origin: 0 0;
}

#menuToggle span:nth-last-child(2)
{
    transform-origin: 0 100%;
}

/*creation de l'animation de l'icone (passage de 3 barres à une croix*/
#menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

/*on cache la barre du milieu*/
#menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*la dernière barre doit tourner dans l'autre sens par rapport à la première*/
#menuToggle input:checked ~ span:nth-last-child(2)
{
    transform: rotate(-45deg) translate(0, -1px);
}

/*contenu du menu*/
#menu
{
    position: absolute;
    width: 250px;
    margin: -75px 0 0 -75px;
    padding: 120px 20px 20px 75px;
    box-shadow: 5px 5px 10px #330C0E;

    background: white;
    -webkit-font-smoothing: antialiased;

    transform-origin: 0 0;
    transform: translate(-110%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

}

#menu div
{
    padding-bottom: 10px;
    padding-top: 10px;
    width: 150px;
    margin-top: 10px;
    margin-left: 55px;
    font-size: 15px;
    display: block;
    position: relative;
}

#menu input
{
    width: 20px;
    height: 20px;
    margin-right: 5%;
    position: relative;
    float: left;
    vertical-align: bottom;
    top: 1px;

}


/*rend les checkbox de #super_cat2 visibles*/
#super_cat2 input
{
    opacity: 1;
}

/*modifications apportées au label des checkbox*/
#super_cat2 label
{
    color: #330C0E;
    font-weight: bold;
}

/*change de couleur quand le curseur passe sur le label*/
#super_cat2 label:hover
{
    color: #B26C6F;
    cursor: pointer;
}

/*quand la checkbox est checked, la couleur du label est fixée*/
#super_cat2 input:checked + label
{
    color: #B26C6F;
}

/* fait slider le menu depuis la gauche */
#menuToggle input:checked ~ ul
{
    transform: none;
}

@media (max-width: 1200px){
    header{
        transform: translateY(-1000px);
    }

    #menu_navigation h3{
        margin-left: 85px;
    }
}

@media (max-width: 770px) {
    #menu_navigation h3{
        transform: translateX(-900px);
        /*visibility: hidden;*/
    }

    #menuToggle{
        left: 10px;
    }
}

/*TODO: Add logo on width < 900*/
li
{
    list-style-type: none;
}

.super_categorie
{
    display: inline-block;
    margin-bottom: 30px;
    width : 200px;

}

input
{
    display: none;
}

/*modifications sur le nom des super catégories*/
.super_cat ~ label
{
    font-size: 23px;
    display: inline-block;
    position: relative;
    color: #B26C6F;
    cursor: pointer;

}

/*changement de couleur quand le curseur passe sur le nom*/
.super_cat ~ label:hover
{
    color: #330C0E;
}


.super_cat ~ ul
{
    display: none;
}

.super_cat:checked ~ ul
{
    display: block;
}

/*creation de l'animation avec les flèches (passage de la flèche pointant à droite à celle pointant en bas lorsque cliqué ----------------------*/
.super_cat:checked ~ .arrow_right
{
    display: none;
}

.super_cat:checked ~ .arrow_bottom
{
    display: inline;
}

.super_cat:not(:checked) ~ .arrow_right
{
    display: inline;
}

.super_cat:not(:checked) ~ .arrow_bottom
{
    display: none;
}

/*modifications sur les sous-catégories qui sont des liens -------------------------------------------------------------------------------------*/
.sous_cat
{

    padding-top: 15px;
    padding-bottom: 10px;
    margin-left: 50px;
}

.sous_cat a
{
    text-decoration: none;
    color: #330C0E;
    font-weight: bold;
}

.sous_cat a:hover
{
    color: #B26C6F;
}